# Convex
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=https://*.convex.cloud
CONVEX_SITE_URL=https://*.convex.cloud
AUTH_DOMAIN=https://*.convex.site
APP_ID=
AUTH_SECRET=
SETUP_SCRIPT_RAN=

# Site Url
NEXT_PUBLIC_SITE_URL=http://localhost:3000/

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_AI_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=

# 管理者情報
ADMIN_MAIL=
ADMIN_PASS=
